* {margin: 0px; padding:0px;}

/*.images img {
    position: absolute;
    clip: rect(0px,200px,200px,0px);
}*/
/*.images{
    position: absolute;
    left: 200px;
}*/
/*.images li{
	display: block;
	width: 30px;
	height: 100px;
	overflow: hidden;
	/*list-style: none;*/

/*.images li{
	-webkit-transform: scaleX(100);
}*/

#gradient{
	position: fixed;
	left: 45.5vw;
	top:1.5vh;
}
/*.square1 {
	width: 100px;
	height: 100px;
	background: black;
}
.square2 {
	width: 100px;
	height: 100px;
	background: grey;
}
.square3 {
	width: 100px;
	height: 100px;
	background: #bbb8b8;
}*/
#grad {
	width: 30px;
	height: 85vh;
	position: relative;
	left: 43px;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, white); /* Standard syntax */
}
#gradcolor {
	width: 30px;
	height: 85vh;
	position: relative;
	left: 43px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* Standard syntax */
}
#Indexgrad1 {
	width: 3vw;
	height: 100vh;
	position: fixed;
	left: 65vw;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, white); /* Standard syntax */
}
#Indexgrad2 {
	width: 3vw;
	height: 100vh;
	position: fixed;
	left: 73vw;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, white); /* Standard syntax */
}
#Indexgrad3 {
	width: 3vw;
	height: 100vh;
	position: fixed;
	left: 81vw;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, white); /* Standard syntax */
}
#Indexgrad4 {
	width: 3vw;
	height: 100vh;
	position: fixed;
	left: 89vw;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, white); /* Standard syntax */
}
#Indexgrad5 {
	width: 3vw;
	height: 100vh;
	position: fixed;
	left: 97vw;
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, white); /* Standard syntax */
}
#Indexgradcolor1 {
	width: 3vw;
	height: 100vh;
	position: fixed;
	left: 61vw;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* Standard syntax */
}
#Indexgradcolor2 {
	width: 3vw;
	height: 100vh;
	position: fixed;
	left: 69vw;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* Standard syntax */
}
#Indexgradcolor3 {
	width: 3vw;
	height: 100vh;
	position: fixed;
	left: 77vw;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* Standard syntax */
}
#Indexgradcolor4 {
	width: 3vw;
	height: 100vh;
	position: fixed;
	left: 85vw;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* Standard syntax */
}
#Indexgradcolor5 {
	width: 3vw;
	height: 100vh;
	position: fixed;
	left: 93vw;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f5005f,#f5bc00,#fdf6d7,#232323,#0170f1,#14ff00); /* Standard syntax */
}
.hint {
	color: black;
	font-family: 'Exo', sans-serif;
    font-weight:bold;
    font-size:15pt;
    background: white;
}
#bibliography {
	position: relative;
	top: 50px;
	left: 1vw;
	width: 46vw;
	color: black;
	font-family: 'Exo', sans-serif;
    font-weight:lighter;
    font-size:15pt;
    line-height: 150%;
}
#about {
	position: absolute;
	top: 34vh;
	left: 5vw;
	width: 30vw;
	color: black;
	font-family: 'Exo', sans-serif;
    font-weight:lighter;
    font-size:12pt;
    line-height: 150%;
    background-color: white;
}


#logo {
	position: fixed;
	top: 50px;
	left: 5vw;
}
#back {
	position: fixed;
	top: 1vw;
	left: 5vw;
	color: black;
	font-family: 'Exo', sans-serif;
    font-weight:bolder;
    font-size:15pt;
    line-height: 150%;
    background: white; /* For browsers that do not support gradients */
    
}














